body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #efeee9; /* Cor de fundo */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 300px;
  padding: 20px;
  background-color: #fff; /* Cor de fundo do container */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

.header {
  text-align: center;
  margin-bottom: 30px;
}

.title {
  color: #641e1e; /* Cor do título */
}

.content {
  text-align: center;
}

.random-titulo-pedido {
  margin-bottom: 20px;
}

.random-pedido {
  font-size: 18px;
  margin-bottom: 30px;
}

.generate-button {
  padding: 10px 20px;
  background: linear-gradient(45deg, #641e1e, #c39a1c, #3d2f22); /* Gradiente de cores */
  color: #fff; /* Cor do texto do botão */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.generate-button:hover {
  background: linear-gradient(45deg, #3d2f22, #c39a1c, #641e1e); /* Gradiente de cores ao passar o mouse */
}
